.acf-spotify-field {

  .acfsf-label {
    padding: 20px 0;
    text-transform: capitalize;
  }

  .acfsf-search-bar {
    input {
      font-size: 150%;
      box-shadow: none;
      border: solid 1px #f1f1f1;
      border-bottom: none;
      padding: 10px;
    }
  }
  .acfsf-search-results {
    border: solid 1px #f1f1f1;
    > p {
      padding: 20px;
      color: #9b9b9b;
      font-weight: 100;
      letter-spacing: 0;
    }
    .acfsf-single-result {
      display: flex;
      padding: 10px;
      border-bottom: solid 1px #f1f1f1;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: #F1F1F1;
      }

      .acfsf-result-image {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }

      .acfsf-result-label {
        display: flex;
        align-items: center;
        flex-grow: 2;
        padding: 0 20px;
        p {
          margin: 0;
        }
      }

      .acfsf-result-controls {
        display: flex;
        align-items: center;
        padding: 0 10px;
        .acfsf-button {
          height: 30px;
          width: 30px;
          cursor: pointer;
          background-size: cover;
          opacity: .6;
          &:hover {
            opacity: 1;
          }
          &.add {
            background-image: url('./../media/button-add.svg');
          }
          &.remove {
            background-image: url('./../media/button-remove.svg');
          }
        }
      }

    }
  }
}
